body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#meme-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.meme {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}